.blue-icon {
    color: #03306D;
    background: white;
    margin-left: 5px;
}

.green-icon {
    color: #3C7D21;
    background: white;
    margin-left: 5px;
}

.new-modal-header {
    background-color: #376BAC;
}

.close, .close:focus, .close:hover {
    color: white !important;
    opacity: 1 !important;
}

.error {
    color: red;
}

.ajs-cancel {
    display: none;
}

.btn-error {
	color: white !important;
	background: #812D2D !important;
}

.btn-error:hover {
    background: #FF4B4B !important;
}

.btn-confirm {
    min-width: 150px;
    color: white !important;
    background: #376BAC !important;

}

.btn-confirm:hover {
    background: #03306D !important;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f !important;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
}

.centra_vertical{
    display: flex;
   justify-content: center;
   align-items: center;
}

.button_menu {
    width: 228px;
    height: 195px;
    margin: auto;
    border-radius: 25px;
    border: 3px solid #3864AD;
    background-color: transparent;
  }
  .sidebar-menu .treeview-menu>li>a{
      font-size: 11px !important;
  }